div .register-h1{
    margin-top: 30px;
    margin-bottom: 5px;
    text-align: center;
  }

div .content{
  border: 1px solid white;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
  }

div .card{
    width: 90%;
    border-radius: 0.5em;
    padding: 1em;
    background-color: #FFF; 
    margin-top: 15px;
}
div .card-disabled{
    opacity: 0.25;
    width: 90%;
    border-radius: 0.5em;
    padding: 1em;
    background-color: #FFF; 
    margin-top: 15px;
    z-index: 0;
}

.permissions-container{
  display: flex;
  flex-direction: row;
}

.div-permissions{
  display: flex;
  flex-direction: row;
}

.div-offices{
  overflow-y: scroll;
  max-height: 300px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}