

div#area h1 {
    color: #FFF;
    text-align: center;
    margin: 30px;
}

div.room-list {
    width: 100%;
    max-width: 900px;
    margin: auto;
    display: flex;
    overflow-y: scroll;
    max-height: 500px;
    margin-right: 150px;
}




/* Estilização do modal de detalhes */

#alert-dialog-title {
    text-align: center;
}

#alert-dialog-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#alert-dialog-description p {
    min-width: 300px;
}

.div-loader {
    display: flex;
    flex: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    padding-top: 10%;
}

.person-details p {
    text-align: center;
}

.selectLabel {
    margin-top: 18px;
}

.pesquisa {
    align-items: center;
    flex: column;
    display: flex;
    justify-content: center;
}

.btnArea{
    margin-left: 70%;
    margin-top: -40px;
}