.container{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
}

#area{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

div#area h1 {
    color: #FFF;
    text-align: center;
    margin: 30px;
}

div#area header {
    width: 100%;
    max-width: 680px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 30px auto 10px;
}

.users-rfid-card{
    width: 90%;
    border-radius: 0.5em;
    padding: 1em;
    background-color: #FFF; 
    margin-top: 15px;
}

.users-rfid-card-disabled{
    opacity: 0.25;
    width: 90%;
    border-radius: 0.5em;
    padding: 1em;
    background-color: #FFF; 
    margin-top: 15px;  
}

div.room {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-height: 500px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

div.room-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 930px;
    margin: 0 auto;
    padding-right: 30px;
    overflow-y: scroll;
    max-height: 500px;
}


/* Estilização do modal de detalhes */

#alert-dialog-title {
    text-align: center;
}

#alert-dialog-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#alert-dialog-description p {
    min-width: 300px;
}

.div-loader {
    display: flex;
    flex: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    padding-top: 10%;
}

.person-details p {
    text-align: center;
}

.selectLabel {
    margin-top: 18px;
}

.pesquisa {
    align-items: center;
    flex: column;
    display: flex;
    justify-content: center;
}

.btnArea{
    margin-left: 85%;
    margin-top: -40px;
}