.formArea {
    margin-top: 50px;
    margin-bottom: 20px;
    
}

#formRFID {
    background-color: #FFF;
    width: 100%;
    max-width: 680px;
    flex-direction: column;
    max-width: 680px;
    margin: 0px auto 0px;
    padding: 30px;
    border: 0;
    border-radius: 5px;
    display: flex;
}

form#formRFID h1 {
    color: "#000";
    text-align: center;
    margin-bottom: 30px;
}

#areaQuad{
    align-items: center;
    margin-bottom: 20px;
}

