header#new{
    width: 100%;
    max-width: 680px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px auto 10px;
  }
  
  header#new a{
    background: #FAFAFA;
    padding: 8px 18px 8px;
    border-radius: 5px;
    color: #272727;
    text-decoration: none;
    font-size: 15px;
  }
  
  form#new-post{
    background: transparent;
    width: 100%;
    max-width: 680px;
    margin: 0px auto 0px;
    padding: 10px;
    /*border: 1px solid #DDD;*/
    border: 0;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
  }
  
  form#new-post input{
    margin-bottom: 10px;
  }
  
  form#new-post span{
    text-align: center;
    color: #FF0000;
    font-size: 15px;
  }
  
  form#new-post label{
    margin-bottom: 15px;
  }
  
  form#new-post img {
    width: 200px;
    height: 100px;
    margin-bottom: 15px;
  }
  
  form#new-post progress{
    margin-bottom: 15px;
  }
  
  form#new-post input[type=text]{
   height: 40px;
   border-radius: 5px;
   border: 1px solid #DDD;
   padding: 0 20px;
  }
  
  form#new-post textarea{
    height: 80px;
    border-radius: 5px;
    border: 1px solid #DDD;
    padding: 0 20px;
    padding-top: 10px;
  }
  
  form#new-post button{
    padding: 10px 20px;
    border-radius: 5px; 
    border: 0px;
    background: linear-gradient(to bottom right, #00ab98, #00564c);
    color: #FFF;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer; 
  }

  form#new-post h1{
    text-align: center;
    color: #FFF;
  }

  .check-area{
    margin-top: 1em;
    height: 20em;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .check-area .check{
    height: 100%;
    width: 30%;
    background-color: green;
    border-radius: 1em;
    margin-top: 1.75em;
    margin-bottom: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
  }










  .success-checkmark {
    width: 350px;
    height: 200px;
    left: 50%;
    top: 50%;
    margin-left: -175px;
    /* -1/2 width */
    margin-top: -100px;
    /* -1/2 height */
    position: relative;
}

.check-icon {
    width: 80px;
    height: 80px;
    position: relative;
    border-radius: 50%;
    box-sizing: content-box;
    border: 4px solid #4CAF50;
    left: 35%;
}

.check-icon::before {
    top: 3px;
    left: -2px;
    width: 30px;
    transform-origin: 100% 50%;
    border-radius: 100px 0 0 100px;
    content: '';
    height: 100px;
    position: absolute;
    background: green;
    transform: rotate(-45deg);
}

.check-icon::after {
    top: 0;
    left: 30px;
    width: 60px;
    transform-origin: 0 50%;
    border-radius: 0 100px 100px 0;
    animation: rotate-circle 4.25s ease-in;
    content: '';
    height: 100px;
    position: absolute;
    background: green;
    transform: rotate(-45deg);
}

.icon-line {
    height: 5px;
    background-color: #4CAF50;
    display: block;
    border-radius: 2px;
    position: absolute;
    z-index: 10;
}

.line-tip {
    top: 46px;
    left: 14px;
    width: 25px;
    transform: rotate(45deg);
    animation: icon-line-tip 0.75s;
    height: 5px;
    /*background-color: #4CAF50;*/
    background-color: #FFF;
    display: block;
    border-radius: 2px;
    position: absolute;
    z-index: 10;
}

.line-long {
    top: 38px;
    right: 8px;
    width: 47px;
    transform: rotate(-45deg);
    animation: icon-line-long 0.75s;
    height: 5px;
    /*background-color: #4CAF50;*/
    background-color: #FFF;
    display: block;
    border-radius: 2px;
    position: absolute;
    z-index: 10;
}

.icon-circle {
    top: -4px;
    left: -4px;
    z-index: 10;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    box-sizing: content-box;
    /*border: 4px solid rgba(76, 175, 80, .5);*/
    border: 4px solid rgba(255, 255, 255, .5);
}

.icon-fix {
    top: 8px;
    width: 5px;
    left: 26px;
    z-index: 1;
    height: 85px;
    position: absolute;
    transform: rotate(-45deg);
    background-color: green;
}

@keyframes rotate-circle {
    0% {
        transform: rotate(-45deg);
    }
    5% {
        transform: rotate(-45deg);
    }
    12% {
        transform: rotate(-405deg);
    }
    100% {
        transform: rotate(-405deg);
    }
}

@keyframes icon-line-tip {
    0% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    54% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    70% {
        width: 50px;
        left: -8px;
        top: 37px;
    }
    84% {
        width: 17px;
        left: 21px;
        top: 48px;
    }
    100% {
        width: 25px;
        left: 14px;
        top: 45px;
    }
}

@keyframes icon-line-long {
    0% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    65% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    84% {
        width: 55px;
        right: 0px;
        top: 35px;
    }
    100% {
        width: 47px;
        right: 8px;
        top: 38px;
    }
}

form#new-post h4{
  text-align: center;
  color: #FFF;
  margin-bottom: 2em;
}