header#new{
    width: 100%;
    max-width: 680px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px auto 10px;
  }
  
  header#new a{
    background: #FAFAFA;
    padding: 8px 18px 8px;
    border-radius: 5px;
    color: #272727;
    text-decoration: none;
    font-size: 15px;
  }
  
  form#new-post{
    background: transparent;
    width: 100%;
    max-width: 680px;
    margin: 0px auto 0px;
    padding: 10px;
    /*border: 1px solid #DDD;*/
    border: 0;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
  }
  
  /* form#new-post input{
    margin: 0;
  } */

  form#new-post input[type=file]{
    margin-bottom: 0;
  }

  form#new-post .image-input{
    color: #FAFAFA;
    display: none;
  }
  
  form#new-post span{
    text-align: center;
    color: #FFF;
    font-size: 15px;
    
  }
  
  form#new-post label{
    margin-bottom: 15px;
  }

  .imgPerfil{
    height: 150px;
    width: 150px;
    border-radius: 100%;
  }

  form#new-post img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
  }
  
  form#new-post progress{
    margin-bottom: 15px;
  }
  
  form#new-post input[type=text]{
   height: 40px;
   border-radius: 5px;
   border: 1px solid #DDD;
   padding: 0 20px;
   margin:0px;
  }
  
  form#new-post input[type=file]{
    display: none;
  }

  form#new-post textarea{
    height: 80px;
    border-radius: 5px;
    border: 1px solid #DDD;
    padding: 0 20px;
    padding-top: 10px;
  }
  
  form#new-post button{
    padding: 10px 20px;
    border-radius: 5px; 
    border: 0px;
    color: #FFF;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin: 0 auto;
  }
  
form#new-post button:disabled{
  background: #FFF;
  color: #00564C;
  opacity: 0.5;
  cursor: default;
  width: 100%;
  margin: 0 auto;
  margin-top: 15px;
}

  .get-code-div{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  input[type='file'] {
    display: none
  }

  .input-wrapper{
    margin-bottom: 20px;
  }
  
  .input-wrapper label {
    background: #FFF;
    border-radius: 5px;
    color: #000;
    padding: 6px 20px;
    border: 1px solid #FFF;
    margin-bottom: 10px;
  }

  
  .input-wrapper label:hover {
    background-color: #DCE0DD;
    border: 1px solid #DCE0DD;
    cursor: pointer;
  }

  form#new-post h1{
    text-align: center;
    color: #FFF;
  }

  .check-area{
    height: 20em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .check-area .check{
    height: 70%;
    width: 30%;
    background-color: green;
    border-radius: 1em;
    margin-top: 1.75em;
    margin-bottom: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .image-input-button{
    background-color: #FAFAFA;
  }

  .div-img-perfil{
    width: 100%;
    height: 75%;
    border-radius: 1em;
    margin-bottom: 5px;
  }

  .div-img-perfil img{
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
  }

  .empty-check svg{
    margin-bottom: 5px;
  }

  .success-checkmark {
    width: 350px;
    height: 200px;
    left: 50%;
    top: 50%;
    margin-left: -175px;
    /* -1/2 width */
    margin-top: -100px;
    /* -1/2 height */
    position: relative;
}

.check-icon {
    width: 80px;
    height: 80px;
    position: relative;
    border-radius: 50%;
    box-sizing: content-box;
    border: 4px solid #4CAF50;
    left: 35%;
}

.check-icon::before {
    top: 3px;
    left: -2px;
    width: 30px;
    transform-origin: 100% 50%;
    border-radius: 100px 0 0 100px;
    content: '';
    height: 100px;
    position: absolute;
    background: green;
    transform: rotate(-45deg);
}

.check-icon::after {
    top: 0;
    left: 30px;
    width: 60px;
    transform-origin: 0 50%;
    border-radius: 0 100px 100px 0;
    animation: rotate-circle 4.25s ease-in;
    content: '';
    height: 100px;
    position: absolute;
    background: green;
    transform: rotate(-45deg);
}

.icon-line {
    height: 5px;
    background-color: #4CAF50;
    display: block;
    border-radius: 2px;
    position: absolute;
    z-index: 10;
}

.line-tip {
    top: 46px;
    left: 14px;
    width: 25px;
    transform: rotate(45deg);
    animation: icon-line-tip 0.75s;
    height: 5px;
    /*background-color: #4CAF50;*/
    background-color: #FFF;
    display: block;
    border-radius: 2px;
    position: absolute;
    z-index: 10;
}

.line-long {
    top: 38px;
    right: 8px;
    width: 47px;
    transform: rotate(-45deg);
    animation: icon-line-long 0.75s;
    height: 5px;
    /*background-color: #4CAF50;*/
    background-color: #FFF;
    display: block;
    border-radius: 2px;
    position: absolute;
    z-index: 10;
}

.icon-circle {
    top: -4px;
    left: -4px;
    z-index: 10;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    box-sizing: content-box;
    /*border: 4px solid rgba(76, 175, 80, .5);*/
    border: 4px solid rgba(255, 255, 255, .5);
}

.icon-fix {
    top: 8px;
    width: 5px;
    left: 26px;
    z-index: 1;
    height: 85px;
    position: absolute;
    transform: rotate(-45deg);
    background-color: green;
}

@keyframes rotate-circle {
    0% {
        transform: rotate(-45deg);
    }
    5% {
        transform: rotate(-45deg);
    }
    12% {
        transform: rotate(-405deg);
    }
    100% {
        transform: rotate(-405deg);
    }
}

@keyframes icon-line-tip {
    0% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    54% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    70% {
        width: 50px;
        left: -8px;
        top: 37px;
    }
    84% {
        width: 17px;
        left: 21px;
        top: 48px;
    }
    100% {
        width: 25px;
        left: 14px;
        top: 45px;
    }
}

@keyframes icon-line-long {
    0% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    65% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    84% {
        width: 55px;
        right: 0px;
        top: 35px;
    }
    100% {
        width: 47px;
        right: 8px;
        top: 38px;
    }
}

form#new-post h4{
  text-align: center;
  color: #FFF;
  margin-bottom: 2em;
}

#alert-dialog-description{
  display: flex;
  align-items: center;
  justify-content: center;
}

.empty-check{
  border: 2px solid #FFF;
  height: 70%;
  width: 30%;
  background-color: transparent;
  border-radius: 1em;
  margin-top: 1.75em;
  margin-bottom: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ESTILIZAÇÃO DA MARCA DE ERRO  */

.empty-check svg {
  width: 100px;
  display: block;
}

.empty-check .path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
}

.empty-check .circle {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;

  -webkit-animation: dash .9s ease-in-out;
  animation: dash .9s ease-in-out;
}

.empty-check .line {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;

  stroke-dashoffset: 1000;
  -webkit-animation: dash .9s .35s ease-in-out forwards;
  animation: dash .9s .35s ease-in-out forwards;
}

.empty-check .check {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;

  stroke-dashoffset: -100;
  -webkit-animation: dash-check .9s .35s ease-in-out forwards;
  animation: dash-check .9s .35s ease-in-out forwards;
}

.empty-check p {
  text-align: center;
  margin: 20px 0 60px;
  font-size: 1.25em;
}

.empty-check .success {
  text-align: center;
  margin: 20px 0 60px;
  font-size: 1.25em;

  color: #73AF55;
}

.empty-check .error {
  text-align: center;
  margin: 20px 0 60px;
  font-size: 1.25em;

  color: #D06079;
}


@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}

@keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}

.usersList{
  width: 89%;
  background: #FFF;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  height: 20px;
  padding: 20px 30px;
  border-radius: 9px;
  align-items: center;
  margin:3px
}

.flatScroll{
  overflow-y: scroll;
  max-height: 200px;
}

