div#dashboard {
  width: 90%;
  margin: 20px auto;
  padding: 0 30px;
}

div#dashboard .user-info {
  margin-bottom: 10px;
  width: 58.5%;
  display: flex;
  height: 30px;
  align-items: center;
}

div#dashboard .user-info a {
  display: flex;
  align-items: center;
  margin-left: 10px;
  padding: 6px;
  border-radius: 4px;
  font-size: 20px;
  background-color: #FFF;
  color: #008C35;
  text-decoration: none;
  margin-right: 10px;
}

div#dashboard .user-info button {
  display: flex;
  align-items: center;
  padding: 6px;
  border-radius: 100%;
  font-size: 20px;
  background-color: #FFF;
  color: #008C35;
  text-decoration: none;
  border: 0;
  cursor: pointer;
}

div#dashboard .rooms {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: "center";
  max-height: 450px;
  height: 450px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid black; */
  margin: 0 auto;
}

.rooms-list {
  width: 100%;
  max-width: 930px;
  margin: 0 auto;
  padding-right: 30px;
  overflow-y: scroll;
  max-height: 500px;
}

::-webkit-scrollbar {
  display: none;
}

.rooms article {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #FFF;
  border: 1px solid #DDD;
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 1em;
  border-radius: 5px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.25);
}

.rooms article header {
  padding: 20px;
  display: flex;
  align-items: center;
}

.rooms article header .title {
  display: flex;
  flex-direction: column;
}

.rooms article header span {
  font-size: 13px;
  padding-top: 5px
}

.rooms article>img {
  width: 100%;
  max-height: 539px;
}

.rooms article footer {
  padding: 20px;
  word-wrap: break-word;
}

h2, h3 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  letter-spacing: 1px;
  color: #008C35;
  font-weight: 1000;
}

h1, h3 {
  color: #008C35;
  width: 100%;
  /* border: 1px solid black; */
  text-align: right;
}

.user-info h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  letter-spacing: 2px;
  color: #008C35;
  font-weight: 1000;
  /* text-shadow:#000 1px -1px, #000 -1px 1px, #000 1px 1px, #000 -1px -1px; */
  text-shadow: 1.5px 1px rgba(0, 0, 0, 0.5);
}

.rooms .room-details {
  background-color: #FFF;
  width: 100%;
  height: 100%;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.5em;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.25);
}

.rooms .room-details .occupants {
  display: flex;
  flex-direction: column;
  width: 18%;
  height: 100%;
  /* border: 1px solid black; */
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
}

.rooms .room-details .people-loading-div {
  width: 100px;
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.room-map {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  width: 90%;
}

.person-avatar {
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: thistle;
  border-radius: 100%;
  margin: 0 auto;
  border: 0;
}

.button-room-details {
  color: #000;
  border: 0;
  background-color: transparent;
}

.button-room-details:hover {
  cursor: pointer;
}

/* ESTILIZAÇÃO DO MODAL DE DETALHES DO USUÁRIO */

#alert-dialog-title {
  text-align: center;
}

#alert-dialog-description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 30%;
}

#alert-dialog-description p {
  min-width: 300px;
}

.div-loader {
  display: flex;
  flex: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding-top: 10%;
}

.img-mapa-sala {
  height: 100%;
  width: 100%;
  border-radius: 0.5em;
  align-items: center;
  justify-content: center;
}

.sem-sala {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: center;
  align-items: center;
  justify-content: center;
}

.person-details p {
  text-align: center;
  display: flex;
  align-items: center;
  flex: column;
}

.paragraphs {
  -webkit-text-stroke-width: 2px;
  /* largura da borda */
  -webkit-text-stroke-color: #000;
}