div#dashboard{
  width: 100%;
  margin: 20px auto;
  padding: 0 30px;
}

div#dashboard .user-info{
  width: 58.5%;
  display: flex;
  height: 30px;
  align-items: center;
}

div#dashboard .user-info a{
  display: flex;
  align-items: center;
  margin-left: 10px;
  padding: 6px;
  border-radius: 4px;
  font-size: 20px;
  background-color: #FFF;
  color: #008C35;
  text-decoration: none;
  margin-right: 10px;
}

div#dashboard .user-info button{
  display: flex;
  align-items: center;
  padding: 6px;
  border-radius: 100%;
  font-size: 20px;
  background-color: #FFF;
  color: #008C35;
  text-decoration: none;
  border: 0;
  cursor: pointer;
}

div#dashboard .rooms{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: "center";
  max-height: 500px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  /*border: 1px solid black;*/
  margin: 0 auto;
}

.sector-title{
  width: 50%;
  color: #FFF;
  margin: 0;
}

.rooms-list{
  width: 100%;
  max-width: 930px;
  margin: 0 auto;
  padding-right: 30px;
  overflow-y: scroll;
  max-height: 500px;
}

::-webkit-scrollbar { 
  display: none; 
}

.rooms article{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #FFF;
  border: 1px solid #DDD;
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 1em;
  border-radius: 5px;
}

.rooms article header{
  padding: 20px;
  display: flex;
  align-items: center;
}

.rooms article header .title{
  display: flex;
  flex-direction: column;
}

.rooms article header span{
  font-size: 13px;
  padding-top: 5px
}

.rooms article > img{
  width: 100%;
  max-height: 539px;
}

.rooms article footer{
  padding: 20px;
  word-wrap: break-word;
}

.rooms h1{
  color: #FFF;
}

.rooms .room-details{
  background-color: #FFF;
  width: 100%;
  height: 500px;
  /*border: 1px solid black;*/
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.5em;
}

.rooms .room-details .occupants{
  width: 100px;
  height: 90%;
  /*border: 1px solid black;*/
  overflow-y: scroll;
}

.rooms .room-details .people-loading-div{
  width: 100px;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.room-map{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 90%;
  width: 90%;
}

.person-avatar{
  cursor: pointer;
  width: 90px;
  height: 90px;
  background-color: thistle;
  border-radius: 100%;
  margin: 0.5em auto;
  margin-bottom: 0.75em;
  border: 0;
}

.button-room-details{
  color: #000;
  border: 0;
  background-color: transparent;
}

.button-room-details:hover{
  cursor: pointer;
}

/* ESTILIZAÇÃO DO MODAL DE DETALHES DO USUÁRIO */

#alert-dialog-title{
  text-align: center;
}

#alert-dialog-description{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#alert-dialog-description p{
  min-width: 300px;
}

.div-loader{
  display: flex;
  flex: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding-top: 10%;
}

.img-mapa-sala{
  height: 500px;
  width: 99%;
  border-radius: 0.5em;
  align-items: center;
  justify-content: center;
}

.sem-sala{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: center;
  align-items: center;
  justify-content: center;
}

.person-details p{
  text-align: center;
}